.feature{
    text-align: center;
    margin:25px;
    width:200px;
    display: inline-block;
    
    
  }

.featureHeader {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

.featureText {
    font-size: 14px;
    color: #FFFFFF;
}

